<header class="site-header">
    <div class="logo-container">
        <a href="{{ '/' | relative_url }}">
            <picture>
                <source srcset="{{ '/images/global/bt-logo_small.webp' | relative_url }}" media="(max-width: 1000px)">
                <img src="{{ '/images/global/bespoketone-logo.webp' | relative_url }}" alt="Bespoke Tone Logo" class="logo" style="height: 30px" />
            </picture>
        </a>
    </div>
    <nav class="nav">
        <div class="menu-toggle">☰</div>
        <ul class="nav-links">
            <li><a href="#intro">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#mentoring">Mentoring</a></li>
            <li><a href="#editing">Editing</a></li>
            <li><a href="{{ '/contact' | relative_url }}">Contact</a></li>
        </ul>
    </nav>
</header>