<header class="site-header">
    <img src="{{ '/images/bespoketone-logo.webp' | relative_url }}" alt="Bespoke Tone Logo" class="logo" style="height:30px" />
    <nav class="nav">
        <button class="menu-toggle" aria-label="Toggle navigation">☰</button>
        <ul class="nav-links">
            <li><a href="#intro">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#mentoring">Mentoring</a></li>
            <li><a href="#editing">Editing</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
</header>